*, *::before, *::after {
    box-sizing: border-box;
    font-family: serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Top bar*/
.top-bar {
    display: inline-flex;
}

.timer-label {
    margin-left: 72%;
    font-size: 30px;
    font-weight: bold;
}

.timer {
    margin-left: .5%;
    font-size: 30px;
    font-weight: bold;
}

.view-high-scores {
    margin-top: 35px;
    margin-left: 7%;
    font-size: 20px;
    height: 110%;
    color: darkorange;
    
}

.view-high-scores:hover {
    font-weight: bold;
    cursor: pointer;
}

/*Title page */
h1 {
    font-size: 400%;
}

.rules {
    margin-top: 90px;
    font-size: 30px;
}

.start-btn {
    margin-top: 25px;
    font-size: 36px;
    background-color: orange;
    border-radius: 25px;
    padding: 10px;
}

.start-btn:hover {
    background-color: darkorange;
    font-weight: bold;
    cursor: pointer;
}

/*Questions*/
h2 {
    font-size: 180%;
    margin-top: 10%;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    border: solid orange 3px;
    border-radius: 25px;
    width: 35%;
    padding: 5px;
    margin-top: 8px;
    background-color: orange;
}

.answers:hover {
    background-color: darkorange;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 120%;
}

hr {
    margin-top: 2%;
    width: 35%;
    height: 2px;
    color: grey;
    background-color: grey;
}

.correct-text {
    color: green;
    font-size: 36px;
}

.incorrect-text {
    color: red;
    font-size: 36px;
}

.hide {
    display: none;
}

.show {
    display: inline;
}



.score-label {
    font-size: 300%;
    margin-bottom: 5px;
}

.final-score {
    margin-top: 1px;
    font-size: 300%;
}

#enter-initials {
    font-size: 160%;
}

#text-box {
    background-color: orange;
    height: 30px;
    font-size: 20px;
}

#initials-btn {
    margin-left: 5px;
    background-color: orange;
    border-radius: 25px;
    height: 30px;
    font-size: 20px;
}

#initials-btn:hover {
    background-color: darkorange;
    font-weight: bold;
    cursor: pointer;
}

#high-scores-list {
    padding-right: 40px;
    font-size: 18px;
    list-style-type: none;
}

.go-back-btn {
    margin:auto;
    background-color: orange;
    border-radius: 25px;
    height: 30px;
    font-size: 20px;
}

.reset-high-scores-btn {
    display: block;
    margin: auto;
    margin-top: 3px;
    background-color: orange;
    border-radius: 25px;
    height: 30px;
    font-size: 20px;
}

.go-back-btn:hover, 
.reset-high-scores-btn:hover {
    background-color: darkorange;
    font-weight: bold;
    cursor: pointer;
}